body {
    font-family: "Roboto", serif;
}

@media (min-width: 600px) {
    body {
        border: 5px solid rgba(128, 128, 128, 0.349);

    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    header {
        flex-direction: row;
    }
}

nav {
    font-size: 20px;
    text-align: center;
}

@media (min-width: 600px) {
    nav {
        padding-left: 50px;
    }
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    ul {
        flex-direction: row;
    }
}

li {
    padding: 1px;
    list-style-type: none;
}

@media (min-width: 600px) {
    li {
        padding: 5px;
        font-size: 13px;
    }
}

a {
    color: $menuHoover;
    text-decoration: none;
}

a:hover {
    color: $fontColor;
}

h1 {
    text-align: center;
    color: $menuHoover;
}

@media (min-width: 600px) {
    h1 {
        margin-left: 150px;
    }
}

h2 {
    text-transform: uppercase;
    color: $fontColor;
}

@media (min-width: 600px) {
    h2 {
        align-self: center;
    }
}

p {
    text-align: center;
    color: $menuHoover;
}

@media (min-width: 600px) {
    p {
        text-align: start;
    }
}

h4 {
    text-align: center;
    color: $fontColor;
}

@media (min-width: 600px) {
    h4 {
        text-align: start;
    }
}

footer {
    background-color: $fontColor;
    height: 25vh;
}

@media (min-width: 600px) {
    footer {
        height: 200px;
    }
}

h5 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
}

@media (min-width: 600px) {
    h5 {
        font-weight: 300;
        font-size: 30px;
        padding-top: 50px;
    }
}