.maps {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 600px) {
    .maps {
      padding-top: 10px;
    }
  }
.maps-iframe {
    width: 90%;
    filter: grayscale(50%)
}
@media (min-width: 600px) {
    .maps-iframe {
     width: 100%;
    }
  }
